@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.search-area {
  position: absolute;
  width: 892px;
  height: 47px;
  left: 448px;
  top: 20px;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 100px;
  height: 60px;
  left: 100px;
  top: 10px;
  mix-blend-mode: normal;
  border-radius: 2px;
}
.search-logo {
  position: absolute;
  left: 17.86%;
  right: 17.86%;
  top: 10.64%;
  bottom: 12.77%;
}
.search-button {
  position: absolute;
  width: 56px;
  height: 47px;
  left: 1284px;
  top: 20px;

  background: #e5e5e5;
  border: 1px solid #c6c2c2;
  box-sizing: border-box;
}

.heart {
  position: absolute;
  width: 44px;
  height: 40px;
  left: 1375px;
  top: 20px;
}
.banner {
  width: 1440px;
  height: 80px;
  background: linear-gradient(
    270deg,
    #745ece 0%,
    rgba(105, 72, 237, 0.41) 47.4%,
    #5e63c8 82.29%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-products {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
}

.product-container {
  width: 1240px;
  height: 221px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 30px 79px 11px 44px;
  display: flex;
}
.img-phone {
  background-image: url("/assets/phone.png");
  height: 180px;
  width: 180px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-container {
  height: 180px;
  width: 180px;
}

.price-name {
  margin-left: 124px;
}

.price-delivery {
  font-size: 24px;
  font-weight: normal;
  line-height: 29px;
  display: flex;
}
.delivery {
  width: 20px;
  height: 20px;
  margin-top: 4.3px;
}
.price {
  width: 150px;
}

.name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  line-height: 22px;
  margin-top: 47px;
  width: 400px;
  margin-right: 200px;
}
.view-product {
  width: 200px;
  height: 51px;
  background: #c968cb;
  border-radius: 20px;
  margin-top: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.check {
  background: red;
  width: 20px;
  height: 20px;
  margin-top: 80px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  margin-left: 100px;
  color: #000000;
}

.delete-container {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: 100px;
  margin-right: 100px;
  height: 89px;
  display: flex;
  width: 1240px;
}

.check-delete {
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 40px;
}

.delete-button {
  background: #e1677d;
  border-radius: 20px;
  width: 200px;
  height: 51px;
  margin-top: 15px;
  margin-left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}
